// Grayscale
$white: white;
$near-white: #f2f2f2;
$gray-lightest: #e5e5e5;
$gray-lighter: #ccc;
$gray-light: #888;
$gray: #666;
$gray-dark: #4c4c4c;
$gray-darker: #333;
$black: black;

// Project
$green: #35aa4d;
$blue: #4180c7;

// Styleguide
.sg-colors {
  display: flex;
  flex-wrap: wrap;
}

.sg-colors__list {
  list-style: none;
  margin: 1rem 0.5rem;
  text-align: center;
}

.sg-colors__color {
  padding: 4rem;

  &--white {
    background-color: $white;
  }

  &--near-white {
    background-color: $near-white;
  }

  &--gray-lightest {
    background-color: $gray-lightest;
  }

  &--gray-lighter {
    background-color: $gray-lighter;
  }

  &--gray-light {
    background-color: $gray-light;
  }

  &--gray {
    background-color: $gray;
  }

  &--gray-dark {
    background-color: $gray-dark;
  }

  &--gray-darker {
    background-color: $gray-darker;
  }

  &--black {
    background-color: $black;
  }

  &--green {
    background-color: $green;
  }

  &--blue {
    background-color: $blue;
  }
}

.sg-info {
  padding: 1rem;

  code {
    background-color: #eee;
    padding: 0.15rem 0.25rem;
    display: block;
    margin-top: 0.25rem;
  }
}
