.card__heading {
  @mixin heading-large $font-size: 1.3rem;
  @mixin no-bottom;

  &-link {
    @mixin link;
  }
}

.card__subheading {
  @mixin heading-medium $font-size: 1rem;
  @mixin no-bottom;

  color: $gray;
}

.card__body {
  margin: 0.7em 0 1em;
}

.card__link {
  @mixin link;
}

.card__button {
  @mixin button;
}

/* Variations */
.card--bg {
  background-color: $gray-lightest;
  padding: 1em;
}
