# Ignore compiled files.
dist

# Yarn/NPM
node_modules/
yarn.lock

# Storybook
.out

# Gatsby
.gatsby-context.js
public
.cache/

# System
.DS_Store

# Git deploy
.publish

# Composer
composer.lock
/vendor/

