@mixin button(
  $bg: clr(primary),
  $color: clr(background),
  $hoverBg: clr(highlight-high),
  $hoverColor: clr(primary)
) {
  background-color: $bg;
  border: none;
  color: $color;
  cursor: pointer;
  line-height: 1.4;
  padding: $space-one-half $space;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;

  &:visited {
    color: $color;
  }

  &:hover {
    background-color: $hoverBg;
    color: $hoverColor;
  }
}

@mixin button-alt {
  @include button(clr(secondary), clr(background), clr(highlight-high), clr(secondary));
}

.button {
  @include button;

  &--alt {
    @include button;
    @include button-alt;
  }
}
