$color-breadcrumb: clr(accent);
$color-breadcrumb-hover: clr(accent-high);
$color-breadcrumb-active: clr(text);

.breadcrumb {
  @include list-reset;
}

.breadcrumb__item,
.breadcrumb__link,
.breadcrumb__link:link,
.breadcrumb__link:visited,
.breadcrumb__link:focus {
  color: $color-breadcrumb;
  text-decoration: none;
}

.breadcrumb__link:hover {
  color: $color-breadcrumb-hover;
}

.breadcrumb__item {
  display: inline-block;
  font-size: 0.75rem;

  &::after {
    content: '/';
  }

  &:last-child {
    color: $color-breadcrumb-active;

    &::after {
      content: '';
    }
  }
}

.breadcrumb_link:active {
  color: $color-breadcrumb-active;
}
