.status__list {
  @include list-reset;

  margin-bottom: $space;
}

.status {
  display: block;
  margin-bottom: $space-one-half;
  padding: $space-one-half;
  text-align: center;

  &--warning {
    color: clr(text);
    background-color: clr(warning);
  }

  &--error {
    color: clr(text);
    background-color: clr(error);
  }

  &--status {
    color: clr(text);
    background-color: clr(message);
  }
}
