.tabs__link,
.tabs__link--local-tasks {
  background-color: clr(muted);
  border: 1px solid clr(highlight-high);
  border-bottom: none;
  color: clr(text);
  display: block;
  font-size: 1.1rem;
  font-weight: 600;
  padding: 1em 2.4em;
  text-align: center;
  text-decoration: none;
  transition: color 0.3s;

  @include large {
    border-bottom: 1px solid clr(highlight-high);
    border-left: none;
    display: inline-block;
    font-size: 1rem;
    padding: 0.6em 1.7em;
    position: relative;
    top: 1px;
    width: auto;
  }

  &:hover {
    background-color: clr(highlight-high);
    color: clr(accent);
  }

  &.is-active {
    background-color: clr(text);
    border: 1px solid clr(text);
    color: clr(text-inverse);

    @include large {
      background-color: clr(background);
      border: 1px solid clr(highlight-high);
      border-bottom: 1px solid clr(highlight-high);
      border-left: none;
      color: clr(text);
    }
  }
}
