{% if item_type == 'card' %}
  {% include "@molecules/card/card.twig" with {
    card__extra_classes: ['grid__item'],
    card__blockname: item.card__blockname,
    card__modifiers: item.card__modifiers,
    card__image__src: item.card__image__src,
    card__image__alt: item.card__image__alt,
    card__heading: item.card__heading,
    card__subheading: item.card__subheading,
    card__body: item.card__body,
    card__link__url: item.card__link__url,
    card__link__text: item.card__link__text,
    card__image__output_image_tag: item.card__image__output_image_tag,
  } %}
{% elseif item_type == 'cta' %}
  {% include "@molecules/cta/cta.twig" with {
    cta__extra_classes: ['grid__item'],
    cta__heading: item.cta__heading,
    cta__button_text: item.cta__button_text,
  } %}
{% else %}
  <div class="grid__item grid__item--example"></div>
{% endif %}
