/*
 * General Mixins (put specific ones in component files where applicable)
*/

$container-max-width: '';
$outer-container-break: '';
$v-margin: '';
$v-padding: '';
$h-padding: '';
$h-padding-large: '';

/* Mixin - Clearfix.
 * Adds clearfix based on http://bourbon.io/docs/#clearfix
 * use example =   @include cleafix
*/

@define-mixin clearfix {
  &::after {
    clear: both;
    content: "";
    display: table;
  }
}

/* Mixin - Wrapper
 * Outer container mixin for large screens
*/
@define-mixin wrapper($container-max-width: $max-width, $outer-container-break: $small, $v-margin: 0, $v-padding: 0, $h-padding: $space, $h-padding-large: $h-padding) {
  max-width: $container-max-width;
  width: 100%;
  margin: $v-margin auto;
  padding: $v-padding $h-padding;

  @mixin breakpoint($outer-container-break) {
    padding: $v-padding $h-padding-large;
  }
}

/* Mixin - Standard Margin */
@define-mixin margin {
  margin-bottom: 1em;
}

@define-mixin no-bottom {
  margin-bottom: 0;
}
