.social-menu {
  @include list-reset;

  &__item {
    margin-bottom: $space-one-fourth;
  }

  &__link {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    text-decoration: none;
    color: clr(text);
  }

  &__icon {
    height: 2rem;
    width: 2rem;
    margin-right: $space-one-half;
    fill: currentColor;
  }

  &__text {
    font-weight: bold;
  }
}
