<div class="motion">
  <h2>Motion</h2>
  <div class="motion__grid">
    {% for motion in motions %}
      <div class="motion__grid-item">
        <h3>{{ motion.name }}</h3>
        <div class="demo-motion demo-motion--{{ motion.name|lower|replace({' ':'-'}) }}"></div>
      </div>
    {% endfor %}
  </div>
</div>
