.footer {
  background-color: $gray-lightest;
  padding: $space 0;

  &__inner {
    @mixin wrapper;

    display: flex;
    flex-flow: column nowrap;

    @media (--large) {
      flex-direction: row;
    }
  }
}

.footer__social {
  margin-bottom: $space;

  @media (--large) {
    flex: 0 1 30%;
    margin-bottom: 0;
    margin-right: $space;
  }
}

.footer__menu {
  @media (--large) {
    flex: 1 1 100%;
    margin-left: auto;
    text-align: right;
  }
}
