{% set footer__base_class = 'footer' %}

<footer {{ bem(footer__base_class) }}>
  <div {{ bem('inner', [], footer__base_class) }}>
    <div {{ bem('social', [], footer__base_class) }}>
      {% block footer__social %}
        {% include "@molecules/menus/social/social-menu.twig" %}
      {% endblock %}
    </div>
    <div {{ bem('menu', [], footer__base_class) }}>
      {% block footer__menu %}
        {% include "@molecules/menus/inline/inline-menu.twig" %}
      {% endblock %}
    </div>
  </div>
</footer>
