/* A */
.main-menu__link {
  color: clr(accent);
  display: block;
  font-size: 1.2rem;
  line-height: 1.5;
  padding: $space $space-triple $space $space-double;
  text-decoration: none;
  font-weight: bold;

  &--with-sub {
    width: 80%;
  }

  @include medium {
    border-bottom: none;
    display: inline-block;
    font-size: 1.1rem;
    padding: $space;
    text-transform: none;
    position: relative;
    width: auto;

    &.active,
    &:active,
    &:hover {
      color: clr(highlight-high);
    }

    &::after {
      color: $white;
      display: inline-block;
      content: '>';
      margin-left: 0.5rem;
    }

    &--sub::after {
      display: none;
    }

    &:hover {
      color: clr(background);

      &::after {
        color: clr(highlight);
      }
    }
  }
}

/*
 * Sub Navigation Links
 */

/* A (Nested) */
.main-menu__link--sub {
  color: clr(accent);
  padding-left: $space-triple;
  font-weight: normal;

  @include medium {
    color: clr(highlight);
    display: block;
    padding: $space-one-third $space;
  }
}

.main-menu--sub-2 {
  background-color: clr(highlight-high);
}

.main-menu__link--sub-2 {
  padding-left: $space-quadruple;
}
