<li class="form-item--radio__item">
  <label for="radio{{ key }}">
    <input id="radio{{ key }}" name="radio" type="radio" class="radio" {% if radio_item_checked %}checked="{{ radio_item_checked }}"{% endif %}> {{ radio_item }}
  </label>
</li>
