.cta {
  background-color: clr(highlight-high);
  padding: $space-triple;
  text-align: center;
  text-transform: uppercase;

  @media (prefers-color-scheme: dark) {
    background-color: clr(highlight);
  }
}
