.header {
  display: flex;
  flex-flow: column nowrap;

  @media (--large) {
    flex-direction: row;

    &__branding {
      flex: 0 1 30%;
      margin-right: $space;
    }

    &__menu {
      flex: 1 1 100%;
      margin-left: auto;
    }
  }
}
