.header {
  display: flex;
  flex-flow: column nowrap;

  @media (--large) {
    flex-direction: row;

    &__branding {
      flex: 1 0 200px;
      margin-right: $space;
    }

    &__menu {
      flex: 1 1 100%;
    }
  }
}
