.header {
  margin-bottom: 4em;
  background-color: $green;

  &__inner {
    @mixin wrapper;

    display: flex;
    flex-flow: column nowrap;
  }

  &__primary {
    padding: $space 0;
  }

  @media (--large) {
    &__primary {
      display: flex;
      flex-flow: row nowrap;
    }

    &__branding {
      flex: 0 1 30%;
      margin-right: $space;
    }

    &__menu {
      flex: 1 1 100%;
      margin-left: auto;
    }
  }
}
