// Color Usage variables - use these (via the `clr` function)
// rather than color variables directly.
$color-palette: (
  default: (
    white: white,
    black: rgba(0,0,0,1),
    message: rgb(95, 169, 38),
    warning: #f9fb93,
    error: #fbe3e4,
    muted: #f2f2f2,
    primary: #005de0,
    secondary: #610c63,
    text: (
      base: #333,
      inverse: #e5e5e5
    ),
    background: (
      base: #FFF,
      section: #e5e5e5
    ),
    accent: (
      base: #F00,
      high: #fbe3e4
    ),
    highlight: (
      base: #ccc,
      high: #e5e5e5
    )
  ),
  contrast: (
    white: #FFF,
    black: #000,
    message: #A7D129,
    warning: #FFD700,
    error: #C02739,
    muted: #333,
    primary: #005de0,
    secondary: #610c63,
    text: (
      base: #FFF,
      inverse: #222
    ),
    background: (
      base: #222,
      inverse: #888,
      section: #555
    ),
    accent: (
      base: #e5e5e5,
      inverse: #FFF,
      high: #f2f2f2
    ),
    highlight: (
      base: #555,
      high: #444
    )
  )
);
