// Styleguide
.sg-colors {
  padding: 1rem;
}

.sg-colors__ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 2rem;
  padding: 0;
}

.sg-colors__list {
  list-style: none;
  padding: 8rem 2rem 1rem 2rem;
  transition: all 0.4s;
  width: 19.5%;

  code {
    display: none;
  }
}

.sg-colors__title {
  color: clr(background);

  &--reverse {
    color: clr(text);
  }
}
