// Styleguide
.sg-colors {
  padding: 1rem;
}

.sg-colors__ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 2rem;
  padding: 0;
}

.sg-colors__list {
  list-style: none;
  padding: 8rem 2rem 1rem 2rem;
  transition: all 0.4s;
  width: 19.5%;

  code {
    display: none;
  }

  // &:hover {
  //   padding: 10rem 4rem 2rem 2rem;
  //   width: 24%;

  //   code {
  //     display: block;
  //   }
  // }
}

@function set-color($color) {  
  @if (lightness( $color ) > 40) {
    @return clr(accent-high);
  }
  @else {
    @return clr(muted);
  }
}

@function set-bg-color($color) {  
  @if (lightness( $color ) > 40) {
    @return clr(muted);
  }
  @else {
    @return clr(accent-high);
  }
}

@each $scheme, $palette in $colors {
  .sg-colors__list--#{$scheme} {
    @each $name, $color in $palette {
      $paletteColor: map-get($palette, $name);
      &-#{$name} {
        background-color: $paletteColor;
        color: set-color($paletteColor);
      }
    }
  }
}
